<html>  
<head>
	<title>test</title>  
	
	<link href="static/css/reset.css" rel="stylesheet" type="text/css"/>
	<link href="static/css/base.css" rel="stylesheet" type="text/css"/>
	<link href="static/css/index.css" rel="stylesheet" type="text/css"/>
	
</head>  
<body>
	<div class="wrapper">
		<div class="header-bar">
			<div class="menu-bar">
				<ul>
					<li><a href='#'>本站首页</a></li>
					<li><a href='#'>案例分享</a></li>
					<li><a href='#'>关于我们</a></li>
					<li><a href='#'>联系我们</a></li>
				</ul>
			</div>
			<span class='register'>第一次访问本站?
				<a href='#'>创建账户</a>
			</span>
		</div>
		<div class="content">
			<div class="service-sign">
				<!--
				<div id='serviceRegister'>
					<form>
						<div>
							<label>客户名称：</label><input type='text' /><br />
						</div>
						<div>
							<label>密码：</label><input type='text' /><br />
						</div>
						<div>
							<label>二次密码：</label><input type='text' /><br />
						</div>
						<div>
							<label>邮件地址：</label><input type='text' /><br />
						</div>
						<div>
							<label>联系电话：</label><input type='text' /><br />
						</div>
						<div>
							<label>服务名称：</label><input type='text' /><br />
						</div>
						<div>
							<label>详情说明：</label><input type='text' /><br />
						</div>
						<div>
							<input id='service_apply_submit' type='submit' value='提交' />
						</div>
						
					</form>
				</div>
				-->
				<div id='memberLogin'>
					<span>登陆</span>
					<form>
						<div>
							<label>客户名称：</label><input type='text' /><br />
						</div>
						<div>
							<label>密码：</label><input type='text' /><br />
						</div>
						<div>
							<input id='login_submit' type='submit' value='登录' />
						</div>
					</form>
				</div>
			</div>
			<div class="product-info">
				<h1 id='company_name'>企信科技</h1>
				<span id="company_slogan">助力中小企业信息化建设发展</span>
				<p id="company_intro">我们致力于为中小企业提供优质的信息系统建设服务，助力企业成长发展！我们提供的服务项目有：</p>
				<ul id="service_items">
					<li id='website_develop'>
						<div>
							<h1>网站开发<h1>
							<p>我们提供从设计，开发，维护的全程网站开发服务。<a href='#'>详情</a></p>
						</div>	
					</li>
					<li id='software_develop'>
						<div>
							<h1>软件开发<h1>
							<p>我们提供各种软件开发服务，使用合理的技术选型，设计合理的技术架构，交付客户需要的产品。<a href='#'>详情</a></p>				
						</div>
					</li>
					<li id='webapp_develop'>
						<div>
							<h1>Web App、移动web开发<h1>
							<p>我们具备各种复杂的web app开发能力、并且提供移动web开发服务。<a href='#'>详情</a></p>	
						</div>
					</li>
					<li id='humanresource_outsourcing'>
						<div>
							<h1>技术人力资源外包<h1>
							<p>我们的团队成员掌握各种计算机技能，可以全方位为客户提供各种技术人力资源服务,让你的团队建设更加灵活。<a href='#'>详情</a></p>	
						</div>
					</li>
				</ul>
			</div>
			<div id='clearboth'></div>
		</div>
		<div class="footer-bar">
			@copyright
		</div>
	</div>
	<script src="js/js.js"></script>
</body>
</html>  
